<ion-tabs>
  <ion-tab-bar slot="bottom">
<!--
    <ion-tab-button tab="translate">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="converse" [disabled]="false">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
      <ion-label>Converse</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="avatar" [disabled]="false">
      <ion-icon aria-hidden="true" name="sparkles"></ion-icon>
      <ion-label>Avatar</ion-label>
    </ion-tab-button>
    

    <ion-tab-button tab="about">
      <ion-icon aria-hidden="true" name="chatbubbles"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
  -->
  </ion-tab-bar>
</ion-tabs>