<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignSpeak - AI Powered ASL Translator</title>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io();  // Initialize a new socket connection

            // Send a message when connected
            socket.on('connect', function() {
                socket.send('User has connected!');
            });

            // Display incoming messages
            socket.on('message', function(msg) {
                var p = document.createElement('p');
                p.innerText = msg;
                document.body.appendChild(p);
            });
        });
        //const model = tf.loadLayersModel('../model/model.json');
        //console.log('Model loaded successfully:', model)
        // Use the model for predictions
    </script>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>TensorFlow.js Model Test</h1>
    <video id="video" autoplay></video>
    <br />
    <button id="startBtn">Open Webcam</button>
    <script>
        async function loadModel() {
            const model = await tf.loadLayersModel('model.json');
            console.log('Model loaded successfully:', model);
            // Optionally, run a prediction with dummy data
            //const input = tf.zeros([1, ...model.inputs[0].shape.slice(1)]);
            //const prediction = model.predict(input);
            //prediction.print();
        }
        loadModel();
        const videoElement = document.getElementById('video');
        const startButton = document.getElementById('startBtn');

        startButton.addEventListener('click', () => {
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then((stream) => {
                        videoElement.srcObject = stream;
                    })
                    .catch((error) => {
                        console.error("Error accessing webcam: ", error);
                    });
            } else {
                console.log("getUserMedia not supported on your browser!");
            }
        });
    </script>
</body>
</html>